.genre-panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.genre-btn {
    margin: 0.5rem !important;
    padding: 0.2rem 1rem !important;
    border-radius: 1.5rem !important;
}

.genre-btn:hover {
    cursor: pointer;
}

.active-genre-btn, genre-btn {
    color: black !important;
    background-color: lightgray !important;
}

.selectBox {
    color: black;
    background-color: lightgray;
    border: transparent;
    border-radius: 1.5rem;
    padding: 0.2rem 1rem;
    margin: 0.5rem;
}